@model ELF_Trial1.Models.StudentGeneralDetails

<!DOCTYPE html>

<html>
<head>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
        <title>Student Dashboard</title>

       

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                background-color: #555555;
                color: whitesmoke;
            }

            td, th {
                border: 0.1px solid #808080;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #555555;
            }
        </style>
        <script>
            function navinside(page) {
                window.location.href = '/Student/' + page;
            }
        </script>
        <style>
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
     
        <style>
            .buttoncss {
                background-color: #808080;
                color: white;
                border: 0.1px solid #555555;
                height: 40px;
                width: 250px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }

                .buttoncss:hover {
                    background-color: black;
                    color: white;
                }
        </style>

        @*Heading Header*@
        <style>
            #topname {
                margin: 0 auto;
                width: 110px;
                height: 97px;
                margin-top: 89px;
            }

            .icon_middletext {
            }

                .icon_middletext span {
                    display: block;
                    color: white;
                    font-size: 24px;
                }

            .icon_middletextSmall {
            }

                .icon_middletextSmall span {
                    display: block;
                    color: white;
                    font-size: 12px;
                }
        </style>
        <style>
            .icon_middleicon {
                display: block;
                margin-top: -100px;
                margin-left: 370px;
                width: 110px;
                height: 97px;
            }

                .icon_middleicon img {
                    margin-top: -13px;
                }

            #tophelp {
                margin: 0 auto;
                width: 110px;
                height: 97px;
                margin-top: 89px;
            }

            .icon_middleicon #helpicon {
                display: block;
                margin-top: -70px;
                margin-left: 30px;
            }

            #topsignout {
                margin: 0 auto;
                width: 110px;
                height: 97px;
                margin-top: 89px;
            }

            .icon_middleicon #signouticon {
                display: block;
                margin-top: -70px;
                margin-left: 20px;
            }

            #topsettings {
                margin: 0 auto;
                width: 110px;
                height: 97px;
                margin-top: 89px;
            }

            .icon_middleicon #settingsicon {
                display: block;
                margin-top: -70px;
                margin-left: 20px;
            }
        </style>

        @*Panels*@
        <style>
            .panel-body {
                background-color: #555555;
                color: snow;
            }

            .panel-danger > .panel-heading {
                background-color: #fe1e1e;
                background: -moz-linear-gradient(right, red, #b90000);
                border-color: #b90000;
                color: white;
            }

            .panel-success > .panel-heading {
                background-color: #48a500;
                background: -moz-linear-gradient(right, green, #48a500);
                border-color: #48a500;
                color: white;
            }

            .panel-warning > .panel-heading {
                background-color: #fabf2d;
                background: -moz-linear-gradient(right, yellow, #fabf2d);
                border-color: #fabf2d;
                color: white;
            }
        </style>
        <style>
            div#headavailabletest {
                background-color: cornflowerblue;
                background: -moz-linear-gradient(right, red, #b90000);
                border-color: #b90000;
                color: white;
            }

            div#headlastfive {
                background-color: cornflowerblue;
                background: -moz-linear-gradient(right, green, #48a500);
                border-color: #48a500;
                color: white;
            }
        </style>
    

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  <script>
      function Logout()
      {

          window.location.href='./ELFWeb/Index';
      }
  </script>
</head>
<body>

    <div>
        <img src="~/Images/Student/Dashboard/Dashboard_Banner.png" />
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a onclick="navinside('Dashboard')" >Home</a></li>
                <li><a onclick="navinside('TestMain')">Take Test</a></li>
                <li><a onclick="navinside('Report')">Report</a></li>
                <li><a onclick="navinside('Notification')">Notification</a></li>
            </ul>
        </div>
    </nav>
    @*<div id="Navigationbars" style="margin-top:-380px;margin-left:50px;">
        <img src="~/Images/Student/Dashboard/Dashboard_Icon.png" style="border:2px solid red" onclick="navinside('Dashboard')" />
        <img src="~/Images/Student/Dashboard/WriteTest_Icon.png" onclick="navinside('TestMain')" />
        <img src="~/Images/Student/Dashboard/Report_Icon_L.png" style="margin-top:225px;margin-left:-234px;" onclick="navinside('Report')">
        <img src="~/Images/Student/Dashboard/Notification_Icon.png" style="margin-top:230px;margin-left:-04px;" onclick="navinside('Notification')">
    </div>*@
    @*<div>
        <img src="~/Images/Student/Dashboard/Profile_Pic.png" style="margin-left:280px;margin-top:-250px;" />
    </div>*@
    <div style="margin-left:460px;margin-top:-250px">
        <div class="icon_middletext">
            <img src="~/Images/Student/Dashboard/Name_Banner.png" />
            <span style="margin-top:-50px;margin-left:50px;">@Model.Name</span>
        </div>
        <div style="margin-top:20px">
            <div class="icon_middletext">
                @*<img src="~/Images/Student/Dashboard/Class_Icon.png" style="margin-top:5px;" />*@
                <span style="margin-top:-40px;margin-left:60px;font-size:16px;">@Model.ClassName</span>
            </div>
            <div class="icon_middletext" style="margin-top:-138px;margin-left:160px;">
                @*<img src="~/Images/Student/Dashboard/Board_Icon.png" style="margin-top:5px;" />*@
                <span style="margin-top:-40px;margin-left:35px;font-size:16px;">@Model.BoardName</span>
            </div>
            <div class="icon_middletext" style="margin-top:-138px;margin-left:320px;">
                @*<img src="~/Images/Student/Dashboard/School_Icon.png" style="margin-top:5px;" />*@
                <span style="margin-top:-40px;margin-left:0px;font-size:16px;">@Model.InstitutionName</span>
            </div>
            <div class="icon_middletext" style="margin-top:-138px;margin-left:540px;">
                @*<img src="~/Images/Student/Dashboard/Location_Icon.png" style="margin-top:5px;" />*@
                <span style="margin-top:-40px;margin-left:35px;font-size:16px;">@Model.DistrictName</span>
            </div>
          
        </div>
        <div style="margin-top:-215px;margin-left:710px;">
            <div class="icon_middletextSmall" style="margin-top:0px;margin-left:00px;">
                <img src="~/Images/Student/Dashboard/State_Rank.png" />
                <span style="margin-top:-30px;margin-left:40px;">11017</span>
            </div>
            <div class="icon_middletextSmall" style="margin-top:20px;margin-left:00px;">
                <img src="~/Images/Student/Dashboard/District_Rank.png" />
                <span style="margin-top:-30px;margin-left:50px;">96</span>
            </div>
            <div class="icon_middletextSmall" style="margin-top:-435px;margin-left:340px;">
                <img src="~/Images/Student/Dashboard/InstitutionRank_Icon.png" style="margin-top:225px;margin-left:-230px;">
                <span style="margin-top:-30px;margin-left:-180px;">618</span>
            </div>
            <div class="icon_middletextSmall" style="margin-top:-215px;margin-left:115px;">
                <img src="~/Images/Student/Dashboard/Growth_Icon.png" style="margin-top:230px;margin-left:-04px;">
                <span style="margin-top:-30px;margin-left:40px;">2.0</span>
            </div>
        </div>
        <div style="margin-top:-360px;margin-left:940px;">
            <img src="~/Images/Student/Dashboard/Help_Icon.png" />
            <img src="~/Images/Student/Dashboard/Settings_Icon.png" style="margin-top:155px;margin-left:-80px" />
            <img src="~/Images/Student/Dashboard/LogOut_Icon.png" onclick="Logout()" style="margin-top:305px;margin-left:-80px" />
        </div>
    </div>

    <div ng-app="DashboardMainPage">
        @*Chart*@
        <div class="col-md-12" style="margin-top:-400px">
            <div class="col-md-6">
                <div id="canvas-holder2">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div id="canvas-holder1">
                    <canvas id="chart1" />
                </div>
            </div>
        </div>
        <div>
            
        </div>
        
    </div>
    <div>
        @if (Model != null)
        {
        @RenderBody()
        }
        
    </div>
</body>
</html>
